<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/add" method="POST">
        <label for="title">Titel:</label>
        <input type="text" name="title" id="title">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author">
        <label for="content">Content:</label>
        <input type="text" name="content" id="content">
    <button type="submit">Submit</button>
</form>
</body>
</html>