<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <form action="/update/{{ post.id }}" method="POST">
        <label for="title">Titel:</label>
        <input type="text" name="title" id="title" value="{{ post.title }}">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="{{ post.author }}">
        <label for="content">Content:</label>
        <input type="text" name="content" id="content" value="{{ post.content }}">
        <button type="submit">Submit</button>
    </form>
</body>
</html>